<%= form_with(model: citation, class: "mt-5 mb-5") do |form| %>

<% if citation.errors.any? %>
   <div class="error-message">
     <%= citation.errors.full_messages.to_sentence.capitalize %>
   </div>
 <% end %>
 <div class="form-group mb-6">
   <%= form.collection_select :source, Source.all, :id, :title, {}, {class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96"} %>
 </div>
  <div class="form-group mb-6">
    <%= form.text_field :page, required: true, placeholder: "page", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="form-group mb-6  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="2">
      <h2>Select Commun Name</h2>
        <%= form.select :citation_ids, Citation.all.collect {|a| [a.source, a.id]} ,{ }, {multiple: true, data: { controller: 'select'}} %>
    </div>
    <div class=" mt-6">
      <h2>Create a new common Nam</h2>
      <%= form.fields_for :utilizations, citation.utilizations.build do |citation_fields| %>
        <%= citation_fields.text_field :label, placeholder: "labe" %>
      <% end %>
    </div>
 </div>

 <div class="form-group mb-6  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
   <div class="space-x-2">
     <h2>Select Utilization</h2>
      <%= form.collection_check_boxes :utilization_ids, Utilization.all, :id, :full_name %>
   </div>
   <div class=" mt-6">
     <h2>Create a new utilization</h2>
     <%= form.fields_for :utilizations, citation.utilizations.build do |citation_fields| %>
       <%= citation_fields.text_field :label, placeholder: "labe" %>
     <% end %>
   </div>
</div>

  <div class="mb-5">
    <%= form.text_area :text, placeholder: "note", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>

  <div class="flex items-center justify-between">
    <div>
      <%= form.submit name_button, class: "px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        capitalize
        rounded
        shadow-md

        ease-in-out" %>
          <%= link_to "discard changes", citations_path, class: "px-6
            py-2.5
            text-blue-600
            font-medium
            text-xs
            leading-tight
            capitalize
            rounded
            shadow-md" %>
    </div>  </div>
<% end %>
