<%= form_with(model: citation, class: "mt-5 mb-5") do |form| %>
<% if citation.errors.any? %>
   <div class="error-message">
     <%= citation.errors.full_messages.to_sentence.capitalize %>
   </div>
 <% end %>
 <div class="form-group mb-6">
   <label>plante</label>
   <%= form.collection_select :plant_id, Plant.all, :id, :name, {}, {class: "w-full shadow rounded-md border border-gray-200"} %>
 </div>
 <div class="form-group mb-6">
   <label>ouvrage</label>
   <%= form.collection_select :source_id, Source.all, :id, :title, {}, {class: "w-full shadow rounded-md border border-gray-200"} %>
 </div>
  <div class="form-group mb-6">
    <label>page</label>
    <%= form.text_field :page, required: true, placeholder: "page", class: "w-full shadow rounded-md border border-gray-200" %>
  </div>
  <div class="form-group mb-6  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="2">
      <h2>Nom commun cité dans la source</h2>
        <%= form.select :name_ids, Name.all.collect {|a| [a.label, a.id]} ,{ }, {multiple: true, data: { controller: 'select'}} %>
    </div>
    <div class=" mt-6">
      <h2>Créer un nouveau nom commun</h2>
      <%= form.fields_for :names, citation.names.build do |citation_fields| %>
        <%= citation_fields.text_field :label, placeholder: "label" %>
      <% end %>
    </div>
 </div>

 <div class="form-group mb-6  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
   <div class="space-x-2">
     <h2>Sélectionner une pratique</h2>
     <%= form.select :utilization_ids, Utilization.all.collect {|a| [a.label, a.id]} ,{ }, {multiple: true, data: { controller: 'select'}} %>
   </div>
   <div class=" mt-6">
     <h2>Créer une nouvelle pratique</h2>
     <%= form.fields_for :utilizations, citation.utilizations.build do |citation_fields| %>
       <%= citation_fields.text_field :label, placeholder: "label" %>
     <% end %>
   </div>
</div>

<div class="form-group mb-6  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <%= form.text_area :text, placeholder: "note", rows: 10, class: "w-full  shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
  </div>

  <div class="flex items-center justify-between">
    <div>
      <%= form.submit name_button, class: "px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        capitalize
        rounded
        shadow-md

        ease-in-out" %>
          <%= link_to "discard changes", citations_path, class: "px-6
            py-2.5
            text-blue-600
            font-medium
            text-xs
            leading-tight
            capitalize
            rounded
            shadow-md" %>
    </div>  </div>
<% end %>
