<%= form_with(model: citation, class: "") do |form| %>

<% if citation.errors.any? %>
   <div class="error-message">
     <%= citation.errors.full_messages.to_sentence.capitalize %>
   </div>
 <% end %>

 <div class="mb-5">
   <h2> Sources </h2>
      <%= form.collection_select :source_id, Source.all, :id, :title %>
 </div>

 <div class="mb-5">
 <h2>Names</h2>
 <div class="mb-5">
       <%= form.collection_check_boxes :name_ids, Name.all, :id, :label %>
 </div>
 <!--
 <div class="mb-5">
  <%= form.fields_for :names, citation.names.build do |names_fields| %>
  <%= names_fields.text_field :label, placeholder: "label" %>
  <%= names_fields.text_field :category, placeholder: "category" %>
  <% end %>
-->

  <div class="mb-5">
    <%= form.text_field :pratique, required: true, placeholder: "pratique", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="mb-5">
    <%= form.text_field :text, required: true, placeholder: "text", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="mb-5">
    <%= form.text_field :pages, required: true, placeholder: "pages", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="mb-5">
    <%= form.text_field :note, required: true, placeholder: "note", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
