<div class="w-full">
  <% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
    <div class="flex justify-end" turbo_frame_tag="new_source">
      <%= link_to 'New source', new_source_path,
                              class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium",
                              data: { turbo_frame:"_top"} %>
    </div>
    <div class="form-group mb-6">
       <%= form_with(url: sources_path,
                    class: "mt-5 mb-5",
                    method: :get, data: { controller: "filters", filters_target: "form", turbo_frame: "sources" }) do |form| %>
      <span>Filtrer par :</span>
      <div class="flex space-x-2 w-full  mb-5">
        <%= form.select :author, Source.authors ,{ include_blank: "Authors" }, {class: "w-full",data: { action: 'filters#submit'}} %>
      </div>
      <div class="flex space-x-2 w-full mb-5">
        <%= form.select :plant, Citation.plants, { include_blank: "Nom scientifique" }, {class: "w-full",data: { action: 'filters#submit'}} %>
        <%= form.select :name, Citation.names,  { include_blank: "Nom vernaculaire" }, {class: "w-full",data: { action: 'filters#submit'}} %>
      </div>
      <div class="flex space-x-2 w-full  mb-5">
        <%= form.select :area, Source.areas,{ include_blank: "Areas" }, {class: "w-full",data: { action: 'filters#submit'}} %>
      </div>

    <% end %>
  </div>
    <div class="table border-collapse table-auto w-full text-sm">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 dark:text-slate-400 text-left"> </div>
          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 dark:text-slate-400 text-left"> </div>
        </div>
      </div>
      <!-- content table -->
      <turbo-frame id="sources" class="table-row-group">
        <%= render @sources %>
      </turbo-frame>
    </div>
  </div>
