<div class="class=" w-full">
  <%= link_to sanitize("&larr; Back to Sources"), sources_path,  class: 'text-sm' %>
  <h1 class="text-4xl text-gray-900 mt-6">
    <%= @source.title %>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      <% @source.people.each do |person| %>
      <%= link_to person.full_name,
            person_path(person),
            data: { turbo_frame: "_top" } %>
     <%end%>
      </p>
  </h1>
</div>
<% @source.citations.each do |citation| %>
  <div class="border-t border-gray-200 mt-6">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Common name
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= link_to citation.name.label,
                         plant_name_path(citation.name.plant, citation.name) ,
                         data: { turbo_frame: "_top" } %>
        </dd>
      </div>
    </dl>
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Scientific name
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <%= link_to citation.name.plant.scientific,
                       plant_path(citation.name.plant) ,
                       data: { turbo_frame: "_top" } %>
        </dd>
      </div>
    </dl>
    </div>
  <div class="border-t border-gray-200 mt-6">
       <cite class="px-4 text-sm text-gray-600"><%= citation.text %> </cite>
  </div>
<% end %>
