<%= form_with(model: person, class: "") do |form| %>

<% if person.errors.any? %>
   <div class="error-message">
     <%= person.errors.full_messages.to_sentence.capitalize %>
   </div>
 <% end %>

  <div class="mb-5">
    <%= form.text_field :last_name, required: true, placeholder: "last_name", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="mb-5">
    <%= form.text_field :first_name, required: true, placeholder: "first_name", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
