<div class="form-group mb-6 inline-flex ">
   <%= form_with(url: plants_path,
                class: "mt-5 mb-5 flex space-x-2",
                method: :get, data: { controller: "filters", filters_target: "form", turbo_frame: "plants" }) do |form| %>

  <%= form.select :family, Family.with_plants.collect {|a| [a.name, a.id]} ,{ include_blank: true }, {data: { controller: 'select',action: 'filters#submit'}} %>
  <%= form.select :genus, Genus.with_plants.collect {|a| [a.name, a.id]} ,{ include_blank: true }, {data: { controller: 'select',action: 'filters#submit'}} %>
  <%= form.select :pharmacopoeia, Plant.pharmacopoeia.keys ,{ include_blank: true }, {data: { controller: 'select', action: 'filters#submit'}} %>

  <%= form.text_field :search,
                     {placeholder: "Search for",
                     value: params[:search],
                     class: "ts-control",
                     data: { action: "filters#submit" }} %>
</div>

<% end %>
