<%= form_with(model: plant, class: "#{dom_id(plant)}_form") do |form| %>
   <dl class="">
      <dt class="mt-2 text-lg"><%= link_to plant_name(plant), plant_path(plant), data: { turbo_frame: "_top" } %></dt>
      <dd class="mt-2 text-sm flex-inline">
       <%= form.select :name_ids, Name.all.collect {|a| [a.label, a.id]} ,{ }, { multiple: true, data: { controller: 'select'}} %>
       <!-- add + button -->
       <div class="mt-6">
         <h2>Créer un nouveau nom commun</h2>
         <%= form.fields_for :names, plant.names.build do |plant_fields| %>
           <%= plant_fields.text_field :label, placeholder: "label" %>
         <% end %>
       </div>
      </dd>
    </dl>
  </div>
  <!-- pharmacopoeia -->
  <div class="mt-5">
    <%= form.select :pharmacopoeia, Plant.pharmacopoeia.keys,{},{} %>
  </div>

  <div class="mt-5 flex-inline">
    <%= form.submit "editer les infos", class: "btn", data: { disable_with: "Creating..." } %>
  </div>
<% end %>

<!-- images -->

  <%=  turbo_frame_tag 'images' do %>
    <div class="mt-5 grid grid-cols-4 gap-4" data-controller="drag" data-drag-url="<%= image_path(":id") %>">
      <% plant.images.order(position: :asc).each do |image| %>
        <%= render partial: "images/image", locals: {image: image} %>
        <% end %>
      </div>
  <% end %>

<%= form_with(model: @image, url: [@species, @image]) do |form| %>
  <%= form.file_field :picture, accept: "image/*", direct_upload: true %>
<% end %>
