<%= form_with(model: plant, class: "#{dom_id(plant)}_form") do |form| %>
  <div>
   <dl class="">
      <dt class="mt-2 text-lg"><%= link_to plant_name(plant), plant_path(plant), data: { turbo_frame: "_top" } %></dt>
      <dt class="mt-2">
        <%= link_to image_tag(plant.image), plant_path(plant), data: { turbo_frame: "_top" } %>
      </dt>
      <dd class="mt-2 text-sm flex-inline">
       <%= form.select :name_ids, Name.all.collect {|a| [a.label, a.id]} ,{ }, { multiple: true, data: { controller: 'select'}} %>
       <!-- add + button -->
       <div class="mt-6">
         <h2>Créer un nouveau nom commun</h2>
         <%= form.fields_for :names, plant.names.build do |plant_fields| %>
           <%= plant_fields.text_field :label, placeholder: "label" %>
         <% end %>
       </div>
      </dd>
    </dl>
  </div>
  <!-- pharmacopoeia -->
  <div class="mt-5">
    <%= form.select :pharmacopoeia, Plant.pharmacopoeia.keys,{},{} %>
  </div>

  <div class="mt-5 mb-5 flex-inline">
    <%= form.submit name_button, class: "px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      capitalize
      rounded
      shadow-md

      ease-in-out" %>
        <%= link_to "discard changes", plants_path, class: "px-6
          py-2.5
          text-blue-600
          font-medium
          text-xs
          leading-tight
          capitalize
          rounded
          shadow-md" %>
  </div>
<% end %>
