<em><%= @plant.family.name %>  > <%= @plant.genus.name %> </em>

<div class="flex w-full gap-4">
    <div class= "flex w-1/2">
        <dl>
          <dt><h1 class="mt-2 text-3xl"><%= plant_name(@plant)%></h1> </dt>
          <dd class="mt-4 text-sm">
          <b>Pharmacopée</b>:  <%=  @plant.pharmacopoeia %>
          </dd>
          <dd class="mt-2 text-sm">
            <b>Nom(s) vernaculaire(s)</b>: <%= @plant.names.pluck(:label).join(", ") %>
          </dd>
        </dl>
      </div>

      <div class="flex w-1/2 ">
      	<%= image_tag(@plant.image) %>
      </div>
</div>


<!-- Bibliographie -->
<% unless @plant.sources.empty? %>
<div class="border-t border-gray-200 bg-gray-50 p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">Bibliographie</h2>
  <ul class="grid grid-cols-2 gap-2">
    <% @plant.sources.each do |source| %>
        <li>
					<%= link_to source_path(source),
								data: { turbo_frame: "_top" }  do %>
							<%= source.authors_full_name %>,	<em><%= source.title %></em>, <%= source.publication_date %>, <%= source.edition_reference %>
					<% end %>
        </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= @plant.species.description %>

<!-- Descriptions -->
<% unless @description.blank? %>
<div class="border-t border-gray-200 bg-gray-50 p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">According to Knew Species Profiles</h2>
  <dl class="">
     <dt><strong>General Description</strong></dt>
     <dd class="mb-5"><%== @description %></dd>
     <dt><strong>Species Profile</strong></dt>
     <dd class="mb-2 .p:mb-2"><%== @description %></dd>
  </dl>
</div>
<% end %>
<div class="p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">Distribution</h2>
  <div class="grid grid-cols-2 gap-2">
    <% unless @natives.empty? %>
    <dl class="">
      <dt class="text-1xl text-gray-900 mb-2"><strong>Native to:</strong></dt>
      <dd><%= @natives.join(",") %></dd>
    </dl>
    <% end %>
    <% unless @introduced.empty? %>
      <dl class="">
        <dt class="text-1xl text-gray-900  mb-2"><strong>Introduced into:</strong></dt>
        <dd><%= @introduced.join(",") %></dd>
      </dl>
    <% end %>
  </div>
</div>


<!--All images -->
<div class="my-10 grid grid-cols-3 gap-2">
  <% @plant.images.each do |image| %>
        <%= image_tag image.picture %>
  <% end %>
</div>
