<h1 class="text-4xl text-gray-900 mt-6">
  <%= plant_name(@plant)%>
</h1>
<div class="border-t border-gray-200 bg-gray-50 p-2 flex">
  <div class="flex-none w-200">
    <dl>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          family
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= link_to family_path(@plant.family),
                data: { turbo_frame: "_top" }  do %>
                <em><%= @plant.family.name %></em>   <%= @plant.family.authors.join(' ') %>
          <% end %>
        </dd>
        <!-- Genus -->
        <dt class="text-sm font-medium text-gray-500">
          Genus
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= link_to genus_path(@plant.genus),
                data: { turbo_frame: "_top" }  do %>
                <em><%= @plant.genus.name %></em> <%= @plant.genus.authors.join(' ') %>
          <% end %>
        </dd>
      <dt class="text-sm font-medium text-gray-500">
        Pharmacopoeia
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <%= @plant.pharmacopoeia %>
      </dd>
      <dt class="text-sm font-medium text-gray-500">
        Vernaculaire
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				<ul>
					<% @plant.names.each do |name| %>
						<li>
							<%= link_to  name.label, name_path(name),
										data: { turbo_frame: "_top" }   %>
						</li>
						<% end %>
				</ul>
      </dd>
    </div>
  </dl>
  </div>
  <div class="flex-initial ">
		<div class="container grid grid-cols-3 gap-2 mx-auto">
			<% @plant.species.images.each do |image| %>
					<div class="w-full rounded">
						<%= image_tag image, class: "object-contain h-fit" %>
					</div>
			<% end %>
		</div>
  </div>
</div>
<div class="p2">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">Synonyms</h2>
  <ul class="grid grid-cols-2 gap-2">
    <% @plant.species.synonyms.each do |synonym| %>
        <li>
          <em><%= synonym.copy.name %></em> <%= synonym.copy.authors.join(' ') %>
        </li>
    <% end %>
  </ul>
</div>

<!-- Bibliographie -->
<% unless @plant.sources.empty? %>
<div class="border-t border-gray-200 bg-gray-50 p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">Bibliographie</h2>
  <ul class="grid grid-cols-2 gap-2">
    <% @plant.sources.each do |source| %>
        <li>
					<%= link_to source_path(source),
								data: { turbo_frame: "_top" }  do %>
								<em><%= source.title %></em> <%= source.authors_full_name %>, <%= source.publication_date %>
					<% end %>
        </li>
    <% end %>
  </ul>
</div>
<% end %>
<!-- Descriptions -->
<% unless @description.blank? %>
<div class="border-t border-gray-200 bg-gray-50 p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">According to Knew Species Profiles</h2>
  <dl class="">
     <dt><strong>General Description</strong></dt>
     <dd class="mb-5"><%== @description %></dd>
     <dt><strong>Species Profile</strong></dt>
     <dd class="mb-2 .p:mb-2"><%== @description %></dd>
  </dl>
</div>
<% end %>
<div class="p2 mt-6">
  <h2 class="text-2xl text-gray-900 mt-6 mb-2">Distribution</h2>
  <div class="grid grid-cols-2 gap-2">
    <% unless @natives.empty? %>
    <dl class="">
      <dt class="text-1xl text-gray-900 mb-2"><strong>Native to:</strong></dt>
      <dd><%= @natives.join(",") %></dd>
    </dl>
    <% end %>
    <% unless @introduced.empty? %>
      <dl class="">
        <dt class="text-1xl text-gray-900  mb-2"><strong>Introduced into:</strong></dt>
        <dd><%= @introduced.join(",") %></dd>
      </dl>
    <% end %>
  </div>
</div>
